.logo {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3.3rem;
  font-weight: 900;
  font-style: italic;

  color: var(--red);
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: var(--nav-bar);
  box-shadow: var(--box-shadow);
  z-index: 999;
  position: sticky;
  top: 0; left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
}

#navbar li a{
  font-size: 18px;
  font-weight: 700;
  color: var(--black);
  transition: all .2s ease;
}

#navbar li div{
  font-size: 18px;
  transition: all .3s ease;
}

#navbar li a:hover {
  color: var(--red-highlight);
}

#navbar li div:hover {
  color: var(--red-highlight);
  cursor: pointer;
}

#nav-mobile{
  display: none;
  align-items: center;
}

#close{
  display: none;
}
