.logo {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3.3rem;
  font-weight: 900;
  font-style: italic;

  color: var(--red);
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: var(--nav-bar);
  box-shadow: var(--box-shadow);
  z-index: 999;
  position: sticky;
  top: 0; left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
}

#navbar li a{
  font-size: 18px;
  font-weight: 700;
  color: var(--black);
  transition: all .2s ease;
}

#navbar li div{
  font-size: 18px;
  transition: all .3s ease;
}

#navbar li a:hover {
  color: var(--red-highlight);
}

#navbar li div:hover {
  color: var(--red-highlight);
  cursor: pointer;
}

/** search bar **/
header .search-form{
  position: absolute;
  align-items: center;
  display: flex;
  overflow: hidden;
  top: 15%; right: -110%;
  width: 25rem;
  height: 3rem;

  background: var(--nav-bar);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
}

header .search-form.active{
  right: 2rem;
  transition: 0.7s ease-out;
}

header .search-form input{
  font-weight: 500;
  font-size: 1rem;
  color: var(--black);

  height: 100%;
  width: 100%;

  background: none;
  text-transform: none;
  padding:0 1rem;
}

header .search-form label{
  font-size: 1rem;
  color: var(--black);

  cursor: pointer;
  padding-right: 1.5rem;
}

header .search-form label:hover{
  color: var(--red-highlight);
}
