body{
    background: url('C:/Users/steph/Documents/ims/images/login-background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial';
}

div.loginHeader{
    text-align: center;
    margin-bottom: 60px;
}

div.loginHeader h1{
    font-size: 50px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 0.15px;
    color: white;
    padding: 0px;
    margin: 50px;
}

div.loginHeader h2{
    color: #000000;
    font-size: 40px;    
    margin-bottom: 50px;
    text-transform: uppercase;
}

div.loginBody form{
    margin: 0 auto;
    width: 450px;
    background: rgba(0,0,0,0.5);
    padding: 50px;
    border: 2px solid white;
    border-radius: 5px;
}

div.loginInputContainer{
    margin-top: 20px;
}

div.loginInputContainer label{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

div.loginInputContainer input{
    height: 30px;
    width: 100%;
    border-color: rgba(0,0,0,0.5);
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-style: italic;
}

div.loginButtonContainer{
    margin-top: 40px;
    text-align: center;
}

div.loginButtonContainer button{
    font-size: 20px;
    padding: 10px 20px;
    border: none;
}