<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Registers</title>
    <link th:href="@{/list.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Baloo' rel='stylesheet'>
</head>
<body>
<div class="container">
    <div class="my-5">
        <a class="btn btn-primary" th:href="@{/create}">Add Student</a>
    </div>
    <hr>
    <h1>Student List</h1>
    <div>
    <table class="table">
        <tr class="labels">
            <th>ID</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>email</th>
            <th>phone</th>
            <th>age</th>
            <th colspan="2">action</th>
        </tr>

        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.firstname}"></td>
            <td th:text="${student.lastname}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.phone}"></td>
            <td th:text="${student.age}"></td>
            <!-- 追記2 -->
            <td>
                <form th:action="@{/edit}" method="post">
                    <input type="submit" class="btn btn-outline-primary" name="edit" value="edit">
                    <!-- ポイント1 -->
                    <input type="hidden" name="id" th:value="${student.id}">
                </form>
            </td>
            <td>
                <form th:action="@{/edit}" method="post">
                    <input type="submit" class="btn btn-outline-danger" name="delete" value="delete">
                    <input type="hidden" name="id" th:value="${student.id}">
                </form>
            </td>
        </tr>
    </table>
    </div>
</div>
<h2></h2>
<h3></h3>

<div class="animation-area">
    <ul class="box-area">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>