<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/login.css}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Baloo' rel='stylesheet'>
</head>
<body>
<div>
    <label class="Title">School Management System</label>
</div>
<div class="container">

        <div>
            <div th:if="${#request.getParameter('error') == 'true'}"
                 style="color:red;margin:10px 5px;">
                Login Failed!!!<br />
                Reason :
                <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                      th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>
            </div>
        </div>
        <div>
            <h1>Register</h1>
            <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
                <table>
                    <hr>
                    <h4 for="email"><b>Username</b></h4>
                    <input type='text' name='username' value=''>
                    <h4 for="psw"><b>Password</b></h4>
                    <input type='password' name='password' />
                    <td>Remember Me?</td>
                    <td><input type="checkbox" name="remember-me" /></td>
                    <button onclick="myFunction()" type="submit" class="loginbtn">Submit</button>
                    </hr>
                </table>
            </form>
        </div>
</div>

<h2></h2>
<h3></h3>

<div class="animation-area">
    <ul class="box-area">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>

</html>