<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Color Theme</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        $(document).ready(function(){
            var socket = io();

            socket.on('random_color', function(data){
                console.log(data.color);
                $('body').css('background-color', data.color);
            });
        });
    </script>
</head>
<body>
    <h1>Color Theme</h1>
    <div class="button-container">
        <form action="colors" method="post">
            <input type="submit" name="value" value="Light Mode">
            <input type="submit" name="value" value="Random Mode">
            <input type="submit" name="value" value="Dark Mode">
        </form>
    </div>
</body>
</html>