body{
    background: #d4ffea;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
	width: 450px;
	padding: 30px;
	background: #dbdcff;
	border-radius: 100px;
    text-align: center;
    position: fixed;
    left: 400px;
    top: 125px;

}

label{
    font-family: 'Caveat', cursive;
    color: black;
	font-size: 25px;
	padding: 10px;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 60%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}

button {
	float: right;
	background-image: white;
	padding: 10px 15px;
	color: #020202;
	border-radius: 5px;
	margin-right: 100px;
	border: none;
}
button:hover{
	opacity: .5;
}

.fontnp{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    margin-left: 60px;

}
.fonta{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 60px;
    word-spacing: -5px;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    width: 50%;
    border-radius: 5px;
    margin: 0px auto;
 }

.title{ 
    background-image: url(img/title.png);
    background-size: contain;
    background-position: center;
    width: 300px;
    height: 300px;
    position: fixed;
    bottom: 400px;
    
}
.design{
    background-image: url(img/design.png);
    width: 100vw;
    height: 600px;
    position:fixed;
    z-index: -99999;
    top:125px;

}

.logo{
    background-image: url(img/logo.png);
    background-size: contain;
    background-position: center;   
    z-index: 99999;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 550px;
    left: 1155px;
                      
    
}

footer{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    background:#feffa3;
    height:auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 3px;
    color:#020202;
}
.footer-content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width:500px;
    margin: 10px auto;
    line-height: 5px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0;
}
.socials li{
    margin: 0 10px;
}
.social a{
    text-decoration: none;
    color:#020202;
}
.social a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.social a:hover i{
    color: #ffd4e5;
}
.footer-bottom{
    background:#ffd4e5;
    width: 100vw;
    padding: 20px 0 ;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    
}
