@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;1,200;1,500&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

$green:#80ff00;
$losmocolor:#5633e3;
$losmocolortr:#7a59ff;
$dimgrey:#3c3c3c;
$dimgreytrans:rgba(#3c3c3c,0.2);
$black:#14242c;
$losmocolor2:#060d58;
$losmocolor3:rgba(#1c2587,0.4);
$white:#fff;
$white2:rgb(160, 160, 160);
$blue:rgb(0, 119, 255);
$light-color:rgb(170, 170, 170);
$light-blue:rgb(29, 182, 238);
$black-bg:rgba(17,17,17,.3);
$border:.2rem solid $losmocolor;
$redbook:rgba(#be4040,0.4);
$navbarcolor:rgb(62, 41, 248);

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;

    &::-webkit-scrollbar{
        width:1rem
    }
    &::-webkit-scrollbar-track{
        background: $losmocolor;
    }
    &::-webkit-scrollbar-thumb{
        background: $losmocolor;
        border-radius: 5rem;
    }

}

section{
    padding:3rem 9%;
}

body{
    background: $black;
    overflow-x: hidden;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:1rem 3rem;
    font-size:1.7rem;
    color:$white;
    border:$border;
    border-radius: 5rem;
    cursor: pointer;
    background: none;

    &:hover{
        background:$redbook;
        color:$white;

    }

}

.header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background: $losmocolor3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.7em 5%;
    
    .navbar a{
        font-size: 1.7rem;
        color:$white;
        display: inline-block;
        margin:0 1rem;

        &:hover{
            color:$navbarcolor;
        }

    }  

    .logo{
        font-size: 2.1rem;
        color:$losmocolor;
        font-weight: bolder;

        i{
            color:$losmocolor;
            padding-right: .5rem;
        }
    }
    
    .btn{
        margin-top: 0;
    }

}

#menu-btn{
    font-size: 2.5rem;
    color:$losmocolor;
    cursor: pointer;
    display: none;

}
//ocean home
.home{
    margin:0 auto;
    margin-top: 9rem;
    width: 90%;
    border-radius: 1rem;
    background:linear-gradient($black-bg,$black-bg), url(images/ocean.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 80vh;
    padding-bottom: 5rem;

    .content{
        //follow us on fb
        span{
            
            -webkit-text-stroke: .1rem $losmocolor;
            font-size: 3vw;
            display: block;

        }
        //follow us on fb
        h3{
            font-size: 1vw;
            color:$losmocolortr
        }
        p{
            max-width: 60rem;
            margin:1rem auto;
            font-size:1rem;
            color:$losmocolor;
            line-height: 1;
        }
    }

}
.book-form{
    width: 80%;
    margin:1rem auto;
    margin-top: -5rem;
    background: $black-bg;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(17,17,17,.3);
    padding:3rem 2rem;

    form{
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        gap:1.5rem;

        .inputBox{
            flex:1 1 25rem;
            span{
                font-size: 1.4rem;
                color:$losmocolor;
            }
            input{
                width: 100%;
                padding:1.2rem 1.4rem;
                border-radius: 5rem;
                border:$border;
                font-size: 1.6rem;
                color:$white2;
                text-transform: none;
                background: none;
                margin-top: 1rem;
            }
        }
        .btn{
            flex: 1 1 15rem;
        }
    }
}

//media
@media (max-width:991px){

    html{
        font-size: 55%;
    }
    .header{
        padding:1.5rem 2rem;
    }
    section{
        padding:3rem 2rem;
    }
}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }
    

        .header{

            .navbar{
                position: absolute;
                top:99%; left:0; right:0;
                background: $dimgrey;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

                &.active{
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            
                
                a{
                    margin:2rem;
                    font-size: 2rem;
                    display: block;

                }
            }
        }
        .home{
            margin-top: 5rem;
            .content{
                span{
                    font-size:2vw;
                }
                h3{
                    font-size:2vw;
                }
                p{
                    font-size:2vw
                }
            }
        }

}

@media (max-width:450px){

    html{
        font-size: 50%;

    }
}

//video
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;

    .video-files{
        flex:1 1 42rem;

        video{
            border-radius: 1rem;
            width: 100%;
        }
        .controls{
            text-align: center;
            padding: 2rem 0;
            
            span{
                display: inline-block;
                height: 2rem;
                width: 2rem;
                border-radius: 50%;
                background: $light-blue;
                cursor: pointer;

                    &:hover{
                    background: $losmocolor;
                    }

            }
        }
    }
    .content{
        flex:1 1 43rem;
        margin-bottom: 5rem;

        span{
            color:$losmocolor;
            font-size: 2rem;

        }
        h3{
            color:$losmocolor;
            font-size: 4rem;
            margin-top: .5rem;
            
        }
        p{
            padding:1rem 0;
            font-size:1rem;
            color:$losmocolor;
            line-height: 1;
        }

    }
}

//music style starts
body {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin: 0;
  }
  
  .music-container {
    background-color: $losmocolor3;
    border-radius: 80px;
    box-shadow: 0 20px 20px 0 rgba(53, 49, 112, 0.693);
    display: flex;
    padding: 10px 20px;
    position: relative;
    margin: 90px 0;
    z-index: 10;
  }
  
  .img-container {
    position: relative;
    width: 86px;
  }
  
  .img-container::after {
    content: '';
    background-color: $losmocolor3;
    border-radius: 100%;
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, 50%);
  }
  
  .img-container img {
    border-radius: 79%;
    object-fit: cover;
    height: 85px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
  
    animation-play-state: paused;
  }
  
  .music-container.play .img-container img {
    animation-play-state: running;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .action-btn {
    background-color:$losmocolor3;
    border: 0;
    color: $losmocolor;
    font-size: 10px;
    cursor: pointer;
    padding: 5px;
    margin: 0 20px;
  }
  
  .action-btn.action-btn-big {
    color: $redbook;
    font-size: 25px;
  }
  
  .action-btn:focus {
    outline: 0;
  }
  
  .music-info {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
  }
  
  .music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
  }
  
  .music-info h4 {
    margin: 0;
  }
  
  .progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }
  
  .progress {
    background-color: $losmocolor;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }
  //music styles END!