@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;1,200;1,500&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

$green:#80ff00;
$losmocolor:#5633e3;
$losmocolortr:#7a59ff;
$dimgrey:#3c3c3c;
$black:#14242c;
$losmocolor2:#060d58;
$losmocolor3:rgba(#1c2587,0.4);
$white:#fff;
$white2:rgb(160, 160, 160);
$blue:rgb(0, 119, 255);
$light-color:#aaa;
$black-bg:rgba(17,17,17,.3);
$border:.2rem solid $losmocolor;
$redbook:rgba(#be4040,0.4);
$navbarcolor:rgb(62, 41, 248);

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;

    &::-webkit-scrollbar{
        width:1rem
    }
    &::-webkit-scrollbar-track{
        background: $losmocolor;
    }
    &::-webkit-scrollbar-thumb{
        background: $losmocolor;
        border-radius: 5rem;
    }

}

section{
    padding:3rem 9%;
}

body{
    background: $black;
    overflow-x: hidden;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:1rem 3rem;
    font-size:1.7rem;
    color:$white;
    border:$border;
    border-radius: 5rem;
    cursor: pointer;
    background: none;

    &:hover{
        background:$redbook;
        color:$white;

    }

}

.header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background: $losmocolor3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.7em 5%;
    
    .navbar a{
        font-size: 1.7rem;
        color:$white;
        display: inline-block;
        margin:0 1rem;

        &:hover{
            color:$navbarcolor;
        }

    }  

    .logo{
        font-size: 2.1rem;
        color:$losmocolor;
        font-weight: bolder;

        i{
            color:$losmocolor;
            padding-right: .5rem;
        }
    }
    
    .btn{
        margin-top: 0;
    }

}

#menu-btn{
    font-size: 2.5rem;
    color:$losmocolor;
    cursor: pointer;
    display: none;

}
//ocean home
.home{
    margin:0 auto;
    margin-top: 9rem;
    width: 90%;
    border-radius: 1rem;
    background:linear-gradient($black-bg,$black-bg), url(images/ocean.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 80vh;
    padding-bottom: 5rem;

    .content{
        //follow us on fb
        span{
            
            -webkit-text-stroke: .1rem $losmocolor;
            font-size: 3vw;
            display: block;

        }
        //follow us on fb
        h3{
            font-size: 1vw;
            color:$losmocolortr
        }
        p{
            max-width: 60rem;
            margin:1rem auto;
            font-size:1rem;
            color:$losmocolor;
            line-height: 1;
        }
    }

}
.book-form{
    width: 80%;
    margin:1rem auto;
    margin-top: -5rem;
    background: $black-bg;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(17,17,17,.3);
    padding:3rem 2rem;

    form{
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        gap:1.5rem;

        .inputBox{
            flex:1 1 25rem;
            span{
                font-size: 1.4rem;
                color:$losmocolor;
            }
            input{
                width: 100%;
                padding:1.2rem 1.4rem;
                border-radius: 5rem;
                border:$border;
                font-size: 1.6rem;
                color:$white2;
                text-transform: none;
                background: none;
                margin-top: 1rem;
            }
        }
        .btn{
            flex: 1 1 15rem;
        }
    }
}


//media
@media (max-width:991px){

    html{
        font-size: 55%;
    }
    .header{
        padding:1.5rem 2rem;
    }
    section{
        padding:3rem 2rem;
    }
}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }
    

        .header{

            .navbar{
                position: absolute;
                top:99%; left:0; right:0;
                background: $dimgrey;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

                &.active{
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            
                
                a{
                    margin:2rem;
                    font-size: 2rem;
                    display: block;

                }
            }
        }
        .home{
            margin-top: 5rem;
            .content{
                span{
                    font-size:2vw;
                }
                h3{
                    font-size:2vw;
                }
                p{
                    font-size:2vw
                }
            }
        }

}

@media (max-width:450px){

    html{
        font-size: 50%;

    }
}

//video
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;

    .video-files{
        flex:1 1 42rem;

        video{
            border-radius: 1rem;
            width: 100%;
        }
    }
    .content{
        flex:1 1 43rem;
    }
}
