@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;1,200;1,500&display=swap");
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #5633e3;
}
html::-webkit-scrollbar-thumb {
  background: #5633e3;
  border-radius: 5rem;
}

section {
  padding: 3rem 9%;
}

body {
  background: #14242c;
  overflow-x: hidden;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  border: 0.2rem solid #5633e3;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}
.btn:hover {
  background: rgba(190, 64, 64, 0.4);
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(28, 37, 135, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 5%;
}
.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  display: inline-block;
  margin: 0 1rem;
}
.header .navbar a:hover {
  color: rgb(62, 41, 248);
}
.header .logo {
  font-size: 2.1rem;
  color: #5633e3;
  font-weight: bolder;
}
.header .logo i {
  color: #5633e3;
  padding-right: 0.5rem;
}
.header .btn {
  margin-top: 0;
}

#menu-btn {
  font-size: 2.5rem;
  color: #5633e3;
  cursor: pointer;
  display: none;
}

.home {
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  background: linear-gradient(rgba(17, 17, 17, 0.3), rgba(17, 17, 17, 0.3)), url(images/ocean.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  padding-bottom: 5rem;
}
.home .content span {
  -webkit-text-stroke: 0.1rem #5633e3;
  font-size: 3vw;
  display: block;
}
.home .content h3 {
  font-size: 1vw;
  color: #7a59ff;
}
.home .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1rem;
  color: #5633e3;
  line-height: 1;
}

.book-form {
  width: 80%;
  margin: 1rem auto;
  margin-top: -5rem;
  background: rgba(17, 17, 17, 0.3);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
  padding: 3rem 2rem;
}
.book-form form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.book-form form .inputBox {
  flex: 1 1 25rem;
}
.book-form form .inputBox span {
  font-size: 1.4rem;
  color: #5633e3;
}
.book-form form .inputBox input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 5rem;
  border: 0.2rem solid #5633e3;
  font-size: 1.6rem;
  color: rgb(160, 160, 160);
  text-transform: none;
  background: none;
  margin-top: 1rem;
}
.book-form form .btn {
  flex: 1 1 15rem;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #3c3c3c;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
  .home {
    margin-top: 5rem;
  }
  .home .content span {
    font-size: 2vw;
  }
  .home .content h3 {
    font-size: 2vw;
  }
  .home .content p {
    font-size: 2vw;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}
.about .video-files {
  flex: 1 1 42rem;
}
.about .video-files video {
  border-radius: 1rem;
  width: 100%;
}
.about .video-files .controls {
  text-align: center;
  padding: 2rem 0;
}
.about .video-files .controls span {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: rgb(29, 182, 238);
  cursor: pointer;
  margin: 0.7rem;
}
.about .video-files .controls span:hover {
  background: #5633e3;
}
.about .content {
  flex: 1 1 43rem;
  margin-bottom: 5rem;
}
.about .content span {
  color: #5633e3;
  font-size: 2rem;
}
.about .content h3 {
  color: #5633e3;
  font-size: 4rem;
  margin-top: 0.5rem;
}
.about .content p {
  padding: 1rem 0;
  font-size: 1rem;
  color: #5633e3;
  line-height: 1;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.music-container {
  background-color: rgba(28, 37, 135, 0.4);
  border-radius: 80px;
  box-shadow: 0 20px 20px 0 rgba(53, 49, 112, 0.693);
  display: flex;
  padding: 10px 20px;
  position: relative;
  margin: 90px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 86px;
}

.img-container::after {
  content: "";
  background-color: rgba(28, 37, 135, 0.4);
  border-radius: 100%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 79%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 85px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.music-container.play .img-container img {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: rgba(28, 37, 135, 0.4);
  border: 0;
  color: #5633e3;
  font-size: 10px;
  cursor: pointer;
  padding: 5px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: rgba(190, 64, 64, 0.4);
  font-size: 25px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #5633e3;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}/*# sourceMappingURL=style.css.map */