@font-face{
    font-family: Rivera;
    src: url(http://localhost/Code/fonts/Nunito-VariableFont_wght.ttf);
}



div.tableContent{
    margin-top: 20px;
    margin-left: 485px;
    margin-right: 945px;
    border-right: 5px solid rgb(252, 174, 85);
    border-left: 5px solid rgb(252, 174, 85);
    border-radius: 10px;
    float: left;
   
}

div.tableContent .table .content1{
    background-color: #4d322783;
    color: rgb(252, 174, 85);
}
h1{
    font-family: Rivera;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    
}
.table .content2{
    background-color: rgba(255, 255, 255, 0.774);

}


