@font-face{
    font-family: Rivera;
    src: url(/fonts/Nunito-VariableFont_wght.ttf);
}


html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body{
    background-image: url(/images/bg-homepage.png);
    background-attachment: fixed;
    background-size: cover;
}

.empContainer{
    margin: 50px auto;
    width: 350px;
    background-color: rgba(24, 24, 24, 0.397);
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 60px;
    border: 2px solid rgb(252, 174, 85);
    border-radius: 30px;
}

.inputEmployee .inputEmp{
    margin-top: 20px;
    text-align: center;
    
}

.inputEmp input{
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(252, 174, 85);
    font-size: 20px;
    
}

.buttonsub{
    margin-top: 25px;
    text-align: center;
}

.buttonsub input{
    font-size: 25px;
    font-family: Rivera;
    font-weight: bold;
    background-color: rgba(252, 174, 85, 0.678);
    padding: 0px 25px;
    border-radius: 10px;
    border: none;
    color: white;
}







ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(252, 174, 85, 0.664);
}
  
li{
    float: left;
    border-right:1px solid #bbb;
}
  
li:last-child{
    border-right: none;
}
  
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Rivera;
    font-size: 25px;
}
  
li a:hover:not(.active){
    background-color: #4d3227;
}
  
.active{
    background-color: #4d3227;
}