body {
    background-color: rgb(243, 243, 243);
}

.w3-bar-item {
    width: 100px;
    height: 40px;
    text-align: center;
}

.progress-text {
    position: absolute;
    top: 0px;
    bottom: 0px;
    padding: 5px;
    color: white
}

.progress-bar {
    position: relative;
    background-color: rgb(12, 101, 173);
    cursor: pointer;
    width: 200px;
}

.progress-fill {
    height: 30px;
    background-color: rgb(46, 148, 231)
}

.button {
    border: 1px solid black !important;
}

button:focus {
    outline: none;
}

.sidebar-element {
    margin-bottom: 16px;
}

.small-margin  {
    margin-bottom: 2px;
}