@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .imgBx{
    position: relative;
    width: 50%;
    height:  100%;
} 
section .imgBx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #1b182b, #322f20);
    z-index: 1;
    mix-blend-mode: screen;
}
section .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
section .contentBx .formBx{
    width: 50%;
}
section .contentBx .formBx h2{
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #f30c04;
    display: inline-block;
    letter-spacing: 1px;
}
section .contentBx .formBx .inputBx{
    margin-bottom: 20px;
}
section .contentBx .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
section .contentBx .formBx .inputBx input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #867da5;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    background: transparent;
    border-radius: 30px;
}
section .contentBx .formBx .inputBx input[type="submit"]
{
    background: #e42f28;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
section .contentBx .formBx .inputBx input[type="submit"]:hover{
    background: #3c7df7
}
section .contentBx .formBx .remember{
    margin-bottom: 10px;
    color:#fff;
    font-weight: 400;
    font-size: 14px;
}
section .contentBx .formBx .inputBx p{
    color: #fff;
}
section .contentBx .formBx .inputBx p a{
    color: #3c7df7;
}
section .contentBx .formBx h3{
    color: #fff;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}
section .contentBx .formBx .sci{
    display: flex;
    justify-content: center;
    align-items: center;
}
section .contentBx .formBx .sci li {
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e42f28;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}
section .contentBx .formBx .sci li:hover{
    background: #3c7df7;
}
section .contentBx .formBx .sci li img{
    transform: scale(0.6);
    filter: invert(1);
}
@media (max-width: 768px) {
    section .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    section .contentBx {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .contentBx .formBx {
        width: 100%;
        padding: 40px;
        background: #1b182b;
        margin: 50px;
    }
    section .contentBx .formBx h3 {
        color: #fff;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}