body{
    text-align: center;
    border: 1px solid black;
    width: 400px;
    margin: 25% auto;
    padding: 20px;
    font-size: x-large;
}
input{
    background-color: #2b78e4;
    padding: 10px;
    border-radius: 5px;
}