<html lang="en">
<head>
  <title> Main Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #100100;
    background-color: #FBFFC9;
}


    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    footer {
      background-color: #FBFFC9;
      padding: 25px;
    }
  </style>
</head>
<body >

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="http://localhost:8080/student/login/" class="dashboard-main-btn">Student Portal</a></li>
        <li><a href="http://localhost:8080/faculty/login/" class="dashboard-main-btn">Faculty Portal</a></li>
        <li><a href="http://localhost:8080/admin/login/" class="dashboard-main-btn">Admin</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>School Management system</h1>
    <p>Welcome!</p>
  </div>
</div>
<div>
  <img src="css/image.jpg" alt="Image" width="100%">
</div>
</div>

</div><br>

<footer class="container-fluid text-center">
  <p>Enroll Now!</p>
</footer>

</body>
</html>
